span.todo-count
  strong= remaining
  | #{remaining == 1 ? 'item' : 'items'}
ul#filters
  li
    a.selected(href='#/') All
  li
    a(href='#/active') Active
  li
    a(href='#/completed') Completed
if completed
  button#clear-completed
    | Clear completed #{completed}
