<!DOCTYPE HTML>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Cellar part 1</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    
    <div id="header"><span class="title">Backbone Cellar</span></div>
    <div id="sidebar"></div>
    <div id="content">
      <h2>Wellcome to Backbone Cellar</h2>
      <p>
      This is a Backbone app part 1 from <a href='http://coenraets.org/blog/2011/12/backbone-js-wine-cellar-tutorial-part-1-getting-started/' target='_blank'>coenraets.org blog</a>.
      </p>
    </div>
    <!-- Templates-->
    <script type="text/template" id="tpl-wine-list-item">
      <a haref='#wines/<%= id %>'><%= name %></a>
    </script>

    
    <script type="text/template" id="tpl-wine-details">
      <div class="form-left-col">
        <label>Id:</label>
        <input type="text" id="wineId" name="id" value="<%= id %>" disabled />
        <label>Name:</label>
        <input type="text" id="name" name="name" value="<%= name %>" required/>
        <label>Grapes:</label>
        <input type="text" id="grapes" name="grapes" value="<%= grapes %>"/>
        <label>Country:</label>
        <input type="text" id="country" name="country" value="<%= country %>"/>
        <label>Region:</label>
        <input type="text" id="region" name="region"  value="<%= region %>"/>
        <label>Year:</label>
        <input type="text" id="year" name="year"  value="<%= year %>"/>
      </div>
      <div class="form-right-col">
        <img height="300" src="../pics/<%= picture %>"/>
        <label>Notes:</label>
        <textarea id="description" name="description"><%= description %></textarea>
      </div>
    </script>

    <script src="js/main.js"></script> 
  </body>
</html>
